<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Christmas Dream">
    <meta name="description" content="Christmas Dream">
    <meta name="Copyright" content="2014-2017 Muxistudio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    {% block header %}{% endblock %}
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block content %}{% endblock %} 
  <audio src="http://m10.music.126.net/20171224123025/b266616138a2bf0040202d1bf9f51601/ymusic/9aba/7470/69d9/345270e0813bd35d19611e37cb3f699b.mp3" controls="controls" autoplay="autoplay" style="height: 48px;width:100px;">
    Your browser does not support the audio element.
    </audio>  
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  {% block script %}{% endblock %}
</body>
</html>