<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Christmas Dream">
    <meta name="description" content="Christmas Dream">
    <meta name="Copyright" content="2014-2017 Muxistudio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    {% block header %}{% endblock %}
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block content %}{% endblock %}   
  <audio id="audio" src="../music/music.mp3" autoplay="autoplay" loop="loop">
    Your browser does not support the audio tag.
    </audio> 
    <div class="musicinfo" id="musicinfo">
        <audio id="musicid" src="../music/music.mp3" preload="preload" loop="loop" autoplay="autoplay"  loop="loop">您的浏览器不支持 audio标签。</audio>
</div> 
	
    <script src="/dist/manifest.js"></script>
    <script type="text/javascript">
      // 音乐播放
      function autoPlayMusic() {
          // 自动播放音乐效果，解决浏览器或者APP自动播放问题
          function musicInBrowserHandler() {
              musicPlay(true);
              document.body.removeEventListener('touchstart', musicInBrowserHandler);
          }
          document.body.addEventListener('touchstart', musicInBrowserHandler);
    
          // 自动播放音乐效果，解决微信自动播放问题
          function musicInWeixinHandler() {
              musicPlay(true);
              document.addEventListener("WeixinJSBridgeReady", function () {
                  musicPlay(true);
              }, false);
              document.removeEventListener('DOMContentLoaded', musicInWeixinHandler);
          }
          document.addEventListener('DOMContentLoaded', musicInWeixinHandler);
      }
      function musicPlay(isPlay) {
          var audio = document.getElementById('musicid');
          if (isPlay && audio.paused) {
              audio.play();
          }
          if (!isPlay && !audio.paused) {
              audio.pause();
          }
      }
      autoPlayMusic();
    </script>
  
    <script src="/dist/vendor.js"></script>
    <script type="text/javascript">
      // 音乐播放
      function autoPlayMusic() {
          // 自动播放音乐效果，解决浏览器或者APP自动播放问题
          function musicInBrowserHandler() {
              musicPlay(true);
              document.body.removeEventListener('touchstart', musicInBrowserHandler);
          }
          document.body.addEventListener('touchstart', musicInBrowserHandler);
    
          // 自动播放音乐效果，解决微信自动播放问题
          function musicInWeixinHandler() {
              musicPlay(true);
              document.addEventListener("WeixinJSBridgeReady", function () {
                  musicPlay(true);
              }, false);
              document.removeEventListener('DOMContentLoaded', musicInWeixinHandler);
          }
          document.addEventListener('DOMContentLoaded', musicInWeixinHandler);
      }
      function musicPlay(isPlay) {
          var audio = document.getElementById('musicid');
          if (isPlay && audio.paused) {
              audio.play();
          }
          if (!isPlay && !audio.paused) {
              audio.pause();
          }
      }
      autoPlayMusic();
    </script>
  
  
  {% block script %}{% endblock %}
</body>
</html>