{% extends "base.html" %} {% block title %}Christmas Dream{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="/static/css/index.css">{% endblock %}
{% block script %}

    <script src="/dist/index.js"></script>
    
        {% endblock %}
{% block content %}
        <div id="app">
                <audio src="http://music.163.com/#/song?id=22349318" autoplay="autoplay">
                    Your browser does not support the audio element.
                  </audio> 
        </div>
 {% endblock %}