{% extends "base.html" %} {% block title %}Christmas Dream{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="/static/css/share.css">{% endblock %}
{% block script %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
   <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
   <% } %>
       {% endblock %}
{% block content %}
       <div id="share"></div>
{% endblock %}