{% extends "base.html" %} {% block title %}Christmas Dream{% endblock %}
{% block script %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
   <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
   <% } %>
       {% endblock %}
{% block content %}
{% include "svg.html" %}
       <div id="share"></div>
{% endblock %}